
body{
    min-width: 350px; 
}

h1,.font-orinoco{
    font-family: 'belligerent_madnessregular', Arial, sans-serif;   
}
.cont-header, .cont-footer{
    background-color: rgb(243, 233, 241);  
}

.card-perso:hover{    
  transform: scale(1.03);
}
.card-perso{
    max-width: 300px;
    transition: 0.2s;
}
.img-camera,.lien-photo{
        width: 250px;
}

.thumb-panier{
	max-width: 150px;
}
.thumb-commande{
	max-height: 80px;
}
.max-taille-panier{
	max-width: 500px;
}
.reponse-details-ok{
	background-color: rgba(0, 255, 119, 0.158);
}
.reponse-details-erreur{
	background-color: rgba(255, 0, 0, 0.158);
}
#btnacceuil, #btnajoutpanier{
	min-width: 150px;
}
/* class pour avoir le texte de description des cards sur 2 lignes avec un truncate */
.truncate-overflow {
	--max-lines: 2;
	position: relative;    
	max-height: calc( 1.5rem * var(--max-lines));
    text-align: justify;
	overflow: hidden;
	padding-right: 1rem; /* space for ellipsis */
    /* background: linear-gradient(white, grey); */
}
.truncate-overflow::before {
	position: absolute;
	content: "...";
	inset-block-end: 0; /* "bottom" */
	inset-inline-end: 0; /* "right" */
}
.truncate-overflow::after {
	content: "";
	position: absolute;
	right: 0;
	width: 1rem;
	height: 1rem;
	/* background: white; */
}